.responstable {
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #800000;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color:#FFD2D2;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color:#800000;
  color: #FFF;
    text-align:center;
}
.responstable td {
  display: block;
  word-wrap: break-word;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: center;
  font-size:10px;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding:5px 0px 5px 0px;
  }
}